spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true

app:
  security:
    jwt:
      issuer: jwtsecurity
      secret: ${JWT_SECRET}
      access-minutes: 15
      refresh-days: 7

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.security: TRACE

springdoc:
  override-with-generic-response: false

